body{
    background-color: aquamarine;
}
header{
	text-align: center;
}
main{
	background-color: white;
    margin: 1%;
    border-radius: 1em;
    padding: 1%;
}
footer{
	text-align: center;
}
code{
    padding: 3px;
    border-radius: 1em;
    background-color: #6de1ba;
}